[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pyjwt = "*"
django-cors-headers = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.9"
