<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061336149300-p5mb8ms0mua44gfm3jbik8g5oodrbhij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061336149300-p5mb8ms0mua44gfm3jbik8g5oodrbhij</string>
	<key>API_KEY</key>
	<string>AIzaSyC0XZ6hqjh8nlqBDtB_VEVyd66wAgo72eg</string>
	<key>GCM_SENDER_ID</key>
	<string>1061336149300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carvice.carviceFrontend</string>
	<key>PROJECT_ID</key>
	<string>carvice-tr</string>
	<key>STORAGE_BUCKET</key>
	<string>carvice-tr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061336149300:ios:f922edfa85893b664bc961</string>
</dict>
</plist>